<h1>Daily Summary</h1>
<blockquote>{{ date }}</blockquote>

<h2>Events</h2>
{% for calendar in data['events'] %}
<ul>
  {% for event in calendar['events'] %}
  <li>{{ event }}</li>
  {% endfor %}
</ul>
{% endfor %}

<h2>Weather</h2>

{% for section in data['weather'] %}
<p>{{ section['$'] }}</p>
{% endfor %}

<h2>Tasks</h2>

<table>
<tr>
  <th>Task</th>
  <th>Project</th>
</tr>
{% for task in data['task']['today'] %}
<tr>
  <td>{{ task['description'] }}</td>
  <td>{{ task['project'] }}</td>
</tr>
{% endfor %}
</table>

<p><b>Completed yesterday:</b> {{ data['task']['yesterday'] }} tasks</p>
